openapi: 3.0.3

###################################################################
# General                                                         #
###################################################################
info:
  version: 1.0.0
  title: Corbado Backend API
  description: |

    # Introduction
    This documentation gives an overview of all Corbado Backend API calls to implement passwordless authentication with Passkeys.

    The Corbado Backend API is organized around REST principles. It uses resource-oriented URLs with verbs (HTTP methods) and HTTP status codes. Requests need to be valid JSON payloads. We always return JSON.

    The Corbado Backend API specification is written in **OpenAPI Version 3.0.3**. You can download it via the download button at the top and use it to generate clients in languages we do not provide officially for example.

    # Authentication
    To authenticate your API requests HTTP Basic Auth is used.

    You need to set the projectID as username and the API secret as password. The authorization header looks as follows:

    `Basic <<projectID>:<API secret>>`

    The **authorization header** needs to be **Base64 encoded** to be working. If the authorization header is missing or incorrect, the API will respond with status code 401.

    # Error types
    As mentioned above we make use of HTTP status codes. **4xx** errors indicate so called client errors, meaning the error occurred on client side and you need to fix it. **5xx** errors indicate server errors, which means the error occurred on server side and outside your control.

    Besides HTTP status codes Corbado uses what we call error types which gives more details in error cases and help you to debug your request.

    ## internal_error
    The error type **internal_error** is used when some internal error occurred at Corbado. You can retry your request but usually there is nothing you can do about it. All internal errors get logged and will triggert an alert to our operations team which takes care of the situation as soon as possible.

    ## not_found
    The error type **not_found** is used when you try to get a resource which cannot be found. Most common case is that you provided a wrong ID.

    ## method_not_allowed
    The error type **method_not_allowed** is used when you use a HTTP method (GET for example) on a resource/endpoint which it not supports. 

    ## validation_error
    The error type **validation_error** is used when there is validation error on the data you provided in the request payload or path. There will be detailed information in the JSON response about the validation error like what exactly went wrong on what field. 

    ## project_id_mismatch
    The error type **project_id_mismatch** is used when there is a project ID you provided mismatch.

    ## login_error
    The error type **login_error** is used when the authentication failed. Most common case is that you provided a wrong pair of project ID and API secret. As mentioned above with use HTTP Basic Auth for authentication.

    ## invalid_json
    The error type **invalid_json** is used when you send invalid JSON as request body. There will be detailed information in the JSON response about what went wrong.

    ## rate_limited
    The error type **rate_limited** is used when ran into rate limiting of the Corbado Backend API. Right now you can do a maximum of **2000 requests** within **10 seconds** from a **single IP**. Throttle your requests and try again. If you think you need more contact support@corbado.com.

    ## invalid_origin
    The error type **invalid_origin** is used when the API has been called from a origin which is not authorized (CORS). Add the origin to your project at https://app.corbado.com/app/settings/credentials/authorized-origins.

    ## already_exists
    The error type **already_exists** is used when you try create a resource which already exists. Most common case is that there is some unique constraint on one of the fields.

    # Security and privacy
    Corbado services are designed, developed, monitored, and updated with security at our core to protect you and your customers’ data and privacy.

    ## Security

    ### Infrastructure security
    Corbado leverages highly available and secure cloud infrastructure to ensure that our services are always available and securely delivered. Corbado's services are operated in uvensys GmbH's data centers in Germany and comply with ISO standard 27001. All data centers have redundant power and internet connections to avoid failure. The main location of the servers used is in Linden and offers 24/7 support. We do not use any AWS, GCP or Azure services.

    Each server is monitored 24/7 and in the event of problems, automated information is sent via SMS and e-mail. The monitoring is done by the external service provider Serverguard24 GmbH. 

    All Corbado hardware and networking is routinely updated and audited to ensure systems are secure and that least privileged access is followed. Additionally we implement robust logging and audit protocols that allow us high visibility into system use.

    ### Responsible disclosure program
    Here at Corbado, we take the security of our user’s data and of our services seriously. As such, we encourage responsible security research on Corbado services and products. If you believe you’ve discovered a potential vulnerability, please let us know by emailing us at [security@corbado.com](mailto:security@corbado.com). We will acknowledge your email within 2 business days. As public disclosures of a security vulnerability could put the entire Corbado community at risk, we ask that you keep such potential vulnerabilities confidential until we are able to address them. We aim to resolve critical issues within 30 days of disclosure. Please make a good faith effort to avoid violating privacy, destroying data, or interrupting or degrading the Corbado service. Please only interact with accounts you own or for which you have explicit permission from the account holder. While researching, please refrain from:

    - Distributed Denial of Service (DDoS)
    - Spamming
    - Social engineering or phishing of Corbado employees or contractors
    - Any attacks against Corbado's physical property or data centers

    Thank you for helping to keep Corbado and our users safe!

    ### Rate limiting
    At Corbado, we apply rate limit policies on our APIs in order to protect your application and user management infrastructure, so your users will have a frictionless non-interrupted experience.

    Corbado responds with HTTP status code 429 (too many requests) when the rate limits exceed.
    Your code logic should be able to handle such cases by checking the status code on the response and recovering from such cases.
    If a retry is needed, it is best to allow for a back-off to avoid going into an infinite retry loop.

    The current rate limit for all our API endpoints is **max. 100 requests per 10 seconds**.

    ## Privacy
    Corbado is committed to protecting the personal data of our customers and their customers. Corbado has in place appropriate data security measures that meet industry standards. We regularly review and make enhancements to our processes, products, documentation, and contracts to help support ours and our customers’ compliance for the processing of personal data.

    We try to minimize the usage and processing of personally identifiable information. Therefore, all our services are constructed to avoid unnecessary data consumption.

    To make our services work, we only require the following data:
    - any kind of identifier (e.g. UUID, phone number, email address)
    - IP address (only temporarily for rate limiting aspects)
    - User agent (for device management)

  contact:
    name: Corbado team
    email: support@corbado.com
    url: https://www.corbado.com

servers:
  - url: https://backendapi.corbado.io

tags:
  - name: Email magic links
    description: All API calls to handle email magic links
  - name: Email OTP
    description: All API calls to handle email OTP
  - name: SMS OTP
    description: All API calls to handle SMS OTP
  - name: Request logs
    description: All API calls to manage request logs
  - name: Validation
    description: All API calls to handle validation
  - name: Passkeys (Biometrics)
    description: All API calls to handle Passkeys (Biometrics)
  - name: User
    description: All API calls to handle user functionality
  - name: Email templates
    description: All API calls to handle email templates
  - name: SMS templates
    description: All API calls to handle SMS templates
  - name: API secrets
    description: All API calls to handle API secrets
  - name: Auth Methods
    description: All API calls to handle authentication methods
  - name: Analyzer
    description: All API calls to handle tracking
  - name: Project config
    description: All API calls to handle project configuration
  - name: Session config
    description: All API calls to handle session config for Corbado session management (see https://docs.corbado.com/sessions/overview for more details)
  - name: Long sessions
    description: All API calls to handle long sessions for Corbado session management (see https://docs.corbado.com/sessions/overview for more details)
  - name: Auth Tokens
    description: All API calls to handle auth tokens for own session management (see https://docs.corbado.com/sessions/own-session-management for more details)
  - name: Association Tokens
    description: All API calls to handle association tokens
  - name: Webhook logs
    description: All API calls to manage webhook logs
  - name: iOS App Config
    description: All API calls to handle iOS app configurations
  - name: Android App Config
    description: All API calls to handle Android app configurations
  - name: Examples
    description: All API calls to download example projects

paths:
  ###################################################################
  # Paths: Projects                                                 #
  ###################################################################
  /v1/projects/activate:
    put:
      description: Activates the project
      operationId: ProjectActivate
      tags:
        - Project config
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/emptyReq'
      responses:
        '200':
          $ref: '#/components/responses/200'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: Project secrets                                          #
  ###################################################################
  /v1/projectSecrets:
    post:
      description: Creates an API secret
      operationId: ProjectSecretCreate
      tags:
        - API secrets
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/projectSecretCreateReq'
      responses:
        '200':
          description: API secret successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectSecretCreateRsp'
        default:
          $ref: '#/components/responses/error'

    get:
      description: Lists API secrets
      operationId: ProjectSecretList
      tags:
        - API secrets
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      responses:
        '200':
          description: List of API secrets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectSecretListRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/projectSecrets/{secretID}:
    delete:
      description: Deletes API secret
      operationId: ProjectSecretDelete
      tags:
        - API secrets
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/projectSecretDeleteReq'
      parameters:
        - in: path
          required: true
          name: secretID
          schema:
            type: string
          description: 'Secret ID from create'
          example: 'pse-abc123'
      responses:
        '200':
          $ref: '#/components/responses/200'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: Auth methods                                             #
  ###################################################################
  /v1/authMethods:
    post:
      description: Retrieves possible authentication methods for provided username
      operationId: AuthMethodsList
      tags:
        - Auth Methods
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authMethodsListReq'
      responses:
        '200':
          description: Auth methods successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authMethodsListRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/userauthlogs:
    get:
      description: Lists user auth log
      operationId: UserAuthLogList
      tags:
        - User
      parameters:
        - $ref: 'common.yml#/components/parameters/remoteAddress'
        - $ref: 'common.yml#/components/parameters/userAgent'
        - $ref: 'common.yml#/components/parameters/sort'
        - $ref: 'common.yml#/components/parameters/filter'
        - $ref: 'common.yml#/components/parameters/page'
        - $ref: 'common.yml#/components/parameters/pageSize'
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      responses:
        '200':
          description: Auth methods successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userAuthLogListRsp'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: SMS codes                                                #
  ###################################################################
  /v1/smsCodes:
    post:
      description: Creates SMS OTP and sends it to given phone number
      operationId: SmsCodeSend
      tags:
        - SMS OTP
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/smsCodeSendReq'
      responses:
        '200':
          description: SMS successfully sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smsCodeSendRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/smsCodes/{smsCodeID}/validate:
    put:
      description: Validates SMS OTP
      operationId: SmsCodeValidate
      tags:
        - SMS OTP
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/smsCodeID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/smsCodeValidateReq'
      responses:
        '200':
          description: Validation was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smsCodeValidateRsp'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: Email links                                              #
  ###################################################################
  /v1/emailLinks:
    post:
      description: Creates email magic link and sends it to given email address
      operationId: EmailLinkSend
      tags:
        - Email magic links
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/emailLinkSendReq'
      responses:
        '200':
          description: Email successfully sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emailLinkSendRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/emailLinks/{emailLinkID}/validate:
    put:
      description: Validates email magic link token
      operationId: EmailLinkValidate
      tags:
        - Email magic links
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/emailLinkID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/emailLinksValidateReq'
      responses:
        '200':
          description: Validation was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emailLinkValidateRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/emailLinks/{emailLinkID}:
    get:
      description: Get an email magic link only one time after confirmed
      operationId: EmailLinkGet
      tags:
        - Email magic links
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/emailLinkID'
      responses:
        '200':
          description: Contains details of an email link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emailLinkGetRsp'
        default:
          $ref: '#/components/responses/error'
    delete:
      description: Deletes an email magic link
      operationId: EmailLinkDelete
      tags:
        - Email magic links
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/emailLinkID'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/emailLinksDeleteReq'
      responses:
        '200':
          description: Validation was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emailLinkValidateRsp'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: Email Codes                                              #
  ###################################################################
  /v1/emailCodes:
    post:
      description: Creates email code and sends it to given email address
      operationId: EmailCodeSend
      tags:
        - Email OTP
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/emailCodeSendReq'
      responses:
        '200':
          description: Email successfully sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emailCodeSendRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/emailCodes/{emailCodeID}/validate:
    put:
      description: Validates email code
      operationId: EmailCodeValidate
      tags:
        - Email OTP
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/emailCodeID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/emailCodeValidateReq'
      responses:
        '200':
          description: Validation was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emailCodeValidateRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/emailCodes/{emailCodeID}:
    get:
      description: Get an email OTP only one time after confirmed
      operationId: EmailCodeGet
      tags:
        - Email OTP
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/emailCodeID'
      responses:
        '200':
          description: Contains details of an email OTP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emailCodeGetRsp'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: Validation                                               #
  ###################################################################
  /v1/validate/phoneNumber:
    put:
      description: Validates phone number
      operationId: ValidatePhoneNumber
      tags:
        - Validation
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/validatePhoneNumberReq'
      responses:
        '200':
          description: Phone number validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validatePhoneNumberRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/validate/email:
    put:
      description: Validates email
      operationId: ValidateEmail
      tags:
        - Validation
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/validateEmailReq'
      responses:
        '200':
          description: Email validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validateEmailRsp'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: Request logs                                             #
  ###################################################################
  /v1/requestLogs:
    get:
      description: Lists request logs for given filters
      operationId: RequestLogsList
      tags:
        - Request logs
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      parameters:
        - $ref: 'common.yml#/components/parameters/remoteAddress'
        - $ref: 'common.yml#/components/parameters/userAgent'
        - $ref: 'common.yml#/components/parameters/sort'
        - $ref: 'common.yml#/components/parameters/filter'
        - $ref: 'common.yml#/components/parameters/page'
        - $ref: 'common.yml#/components/parameters/pageSize'
      responses:
        '200':
          description: Request logs successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestLogsListRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/requestLogs/{requestID}:
    get:
      description: Retrieves request log entry by ID. If multiple requests with the same ID are found, the most recent one is returned
      operationId: RequestLogGet
      tags:
        - Request logs
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/remoteAddress'
        - $ref: '#/components/parameters/userAgent'
        - $ref: '#/components/parameters/requestID'
      responses:
        '200':
          description: Request log successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestLogGetRsp'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: Webhook logs                                             #
  ###################################################################
  /v1/webhookLogs:
    get:
      description: Lists webhook logs for given filters
      operationId: WebhookLogsList
      tags:
        - Webhook logs
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      parameters:
        - $ref: 'common.yml#/components/parameters/remoteAddress'
        - $ref: 'common.yml#/components/parameters/userAgent'
        - $ref: 'common.yml#/components/parameters/sort'
        - $ref: 'common.yml#/components/parameters/filter'
        - $ref: 'common.yml#/components/parameters/page'
        - $ref: 'common.yml#/components/parameters/pageSize'
      responses:
        '200':
          description: Webhook logs successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhookLogsListRsp'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: Users                                                    #
  ###################################################################
  /v1/users:
    post:
      description: Creates a new user
      operationId: UserCreate
      tags:
        - User
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userCreateReq'
      responses:
        '200':
          description: User successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userCreateRsp'
        default:
          $ref: '#/components/responses/error'
    get:
      description: Lists project users
      operationId: UserList
      tags:
        - User
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      parameters:
        - $ref: 'common.yml#/components/parameters/remoteAddress'
        - $ref: 'common.yml#/components/parameters/userAgent'
        - $ref: 'common.yml#/components/parameters/sort'
        - $ref: 'common.yml#/components/parameters/filter'
        - $ref: 'common.yml#/components/parameters/page'
        - $ref: 'common.yml#/components/parameters/pageSize'
      responses:
        '200':
          description: Users successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userListRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/users/{userID}:
    get:
      description: Get a user by ID
      operationId: UserGet
      tags:
        - User
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/remoteAddress'
        - $ref: '#/components/parameters/userAgent'
        - $ref: '#/components/parameters/userID'
      responses:
        '200':
          description: User successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userGetRsp'
        default:
          $ref: '#/components/responses/error'
    delete:
      description: Deletes a user
      operationId: UserDelete
      tags:
        - User
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/userID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userDeleteReq'
      responses:
        '200':
          $ref: '#/components/responses/200'
        default:
          $ref: '#/components/responses/error'
    put:
      description: Updates a user
      operationId: UserUpdate
      tags:
        - User
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/userID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userUpdateReq'
      responses:
        '200':
          description: User successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userUpdateRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/users/stats:
    get:
      description: Provides aggregated user stats for project
      operationId: UserStatsList
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      tags:
        - User
      parameters:
        - $ref: 'common.yml#/components/parameters/remoteAddress'
        - $ref: 'common.yml#/components/parameters/userAgent'
        - $ref: 'common.yml#/components/parameters/sort'
        - $ref: 'common.yml#/components/parameters/filter'
        - $ref: 'common.yml#/components/parameters/page'
        - $ref: 'common.yml#/components/parameters/pageSize'
        - $ref: '#/components/parameters/granularity'
      responses:
        '200':
          description: 'Contains a list of all aggregated statistics for user data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userStatsListRsp'

  ###################################################################
  # Paths: User emails                                              #
  ###################################################################
  /v1/users/{userID}/emails:
    post:
      description: Add an email to an existing user
      operationId: UserEmailCreate
      tags:
        - User
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/userID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userEmailCreateReq'
      responses:
        '200':
          description: User email found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userEmailCreateRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/users/{userID}/emails/{emailID}:
    get:
      description: Get a user's email
      operationId: UserEmailGet
      tags:
        - User
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/remoteAddress'
        - $ref: '#/components/parameters/userAgent'
        - $ref: '#/components/parameters/userID'
        - $ref: '#/components/parameters/emailID'
      responses:
        '200':
          description: User email successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userEmailGetRsp'
        default:
          $ref: '#/components/responses/error'
    delete:
      description: Delete a user's email
      operationId: UserEmailDelete
      tags:
        - User
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/userID'
        - $ref: '#/components/parameters/emailID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userEmailDeleteReq'
      responses:
        '200':
          $ref: '#/components/responses/200'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: User phone numbers                                       #
  ###################################################################
  /v1/users/{userID}/phoneNumbers:
    post:
      description: Add a phone number to an existing user
      operationId: UserPhoneNumberCreate
      tags:
        - User
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/userID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userPhoneNumberCreateReq'
      responses:
        '200':
          description: User phone number successfully added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userPhoneNumberCreateRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/users/{userID}/phoneNumbers/{phoneNumberID}:
    get:
      description: Get a user's phone number
      operationId: UserPhoneNumberGet
      tags:
        - User
      security:
        - projectID: [ ]
      parameters:
        - $ref: '#/components/parameters/remoteAddress'
        - $ref: '#/components/parameters/userAgent'
        - $ref: '#/components/parameters/userID'
        - $ref: '#/components/parameters/phoneNumberID'
      responses:
        '200':
          description: User phone number found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userPhoneNumberGetRsp'
        default:
          $ref: '#/components/responses/error'
    delete:
      description: Delete a user's phone number
      operationId: UserPhoneNumberDelete
      tags:
        - User
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/userID'
        - $ref: '#/components/parameters/phoneNumberID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userPhoneNumberDeleteReq'
      responses:
        '200':
          $ref: '#/components/responses/200'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: User custom login identifiers                            #
  ###################################################################
  /v1/users/{userID}/customLoginIdentifiers:
    post:
      description: Add a custom login identifier to an existing user
      operationId: UserCustomLoginIdentifierCreate
      tags:
        - User
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/userID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userCustomLoginIdentifierCreateReq'
      responses:
        '200':
          description: User custom login identifier created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userCustomLoginIdentifierCreateRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/users/{userID}/customLoginIdentifiers/{customLoginIdentifierID}:
    get:
      description: Get a user's custom login identifier
      operationId: UserCustomLoginIdentifierGet
      tags:
        - User
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/remoteAddress'
        - $ref: '#/components/parameters/userAgent'
        - $ref: '#/components/parameters/userID'
        - $ref: '#/components/parameters/customLoginIdentifierID'
      responses:
        '200':
          description: User custom login identifier successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userCustomLoginIdentifierGetRsp'
        default:
          $ref: '#/components/responses/error'
    delete:
      description: Delete a user's custom login identifier
      operationId: UserCustomLoginIdentifierDelete
      tags:
        - User
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/userID'
        - $ref: '#/components/parameters/customLoginIdentifierID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userCustomLoginIdentifierDeleteReq'
      responses:
        '200':
          $ref: '#/components/responses/200'
        default:
          $ref: '#/components/responses/error'

  /v1/users/{userID}/devices:
    get:
      description: Provides all register devices for given user
      operationId: UserDeviceList
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      tags:
        - User
      parameters:
        - $ref: '#/components/parameters/userID'
        - $ref: 'common.yml#/components/parameters/remoteAddress'
        - $ref: 'common.yml#/components/parameters/userAgent'
        - $ref: 'common.yml#/components/parameters/sort'
        - $ref: 'common.yml#/components/parameters/filter'
        - $ref: 'common.yml#/components/parameters/page'
        - $ref: 'common.yml#/components/parameters/pageSize'
      responses:
        '200':
          description: 'Contains a list of all devices'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userDeviceListRsp'

  /v1/users/{userID}/credentials/{credentialID}:
    delete:
      description: Delete credential
      operationId: WebAuthnCredentialDelete
      tags:
        - Passkeys (Biometrics)
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/userID'
        - name: credentialID
          in: path
          description: ID of credential
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/emptyReq'
      responses:
        '200':
          $ref: '#/components/responses/200'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: Webauthn                                                 #
  ###################################################################
  /v1/webauthn/register/start:
    post:
      description: Starts registration of a user for Passkeys (Biometrics)
      operationId: WebAuthnRegisterStart
      tags:
        - Passkeys (Biometrics)
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webAuthnRegisterStartReq'
      responses:
        '200':
          description: Passkeys (Biometrics) registration initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webAuthnRegisterStartRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/webauthn/register/finish:
    post:
      description: Completes registration of a user for Passkeys (Biometrics)
      operationId: WebAuthnRegisterFinish
      tags:
        - Passkeys (Biometrics)
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webAuthnFinishReq'
      responses:
        '200':
          description: Passkeys (Biometrics) authentication finished successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webAuthnRegisterFinishRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/webauthn/credential:
    get:
      description: Lists webauthn credentials users
      operationId: WebAuthnCredentialList
      tags:
        - Passkeys (Biometrics)
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      parameters:
        - $ref: 'common.yml#/components/parameters/remoteAddress'
        - $ref: 'common.yml#/components/parameters/userAgent'
        - $ref: 'common.yml#/components/parameters/sort'
        - $ref: 'common.yml#/components/parameters/filter'
        - $ref: 'common.yml#/components/parameters/page'
        - $ref: 'common.yml#/components/parameters/pageSize'
      responses:
        '200':
          description: Webauthn credential list successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webAuthnCredentialListRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/webauthn/credential/exists:
    post:
      description: Checks if active webauthn credential exists for provided user and device
      operationId: WebAuthnCredentialExists
      tags:
        - Passkeys (Biometrics)
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webAuthnCredentialExistsReq'
      responses:
        '200':
          description: Passkeys (Biometrics) credentials check completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webAuthnCredentialExistsRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/webauthn/credential/{credentialID}:
    put:
      description: Update credential
      operationId: WebAuthnCredentialUpdate
      tags:
        - Passkeys (Biometrics)
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      parameters:
        - name: credentialID
          in: path
          description: ID of credential
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webAuthnCredentialReq'
      responses:
        '200':
          description: Passkeys (Biometrics) authentication started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webAuthnCredentialRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/webauthn/authenticator/{authenticatorID}:
    put:
      description: Update authenticator
      operationId: WebAuthnAuthenticatorUpdate
      tags:
        - Passkeys (Biometrics)
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      parameters:
        - name: authenticatorID
          in: path
          description: ID of authenticator
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webAuthnAuthenticatorUpdateReq'
      responses:
        '200':
          $ref: '#/components/responses/200'
        default:
          $ref: '#/components/responses/error'

  /v1/webauthn/authenticate/start:
    post:
      description: Starts authentication of a user for Passkeys (Biometrics)
      operationId: WebAuthnAuthenticateStart
      tags:
        - Passkeys (Biometrics)
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webAuthnAuthenticateStartReq'
      responses:
        '200':
          description: Passkeys (Biometrics) authentication started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webAuthnAuthenticateStartRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/webauthn/authenticate/finish:
    post:
      description: Completes authentication of a user for Passkeys (Biometrics)
      operationId: WebAuthnAuthenticateFinish
      tags:
        - Passkeys (Biometrics)
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webAuthnFinishReq'
      responses:
        '200':
          description: Passkeys (Biometrics) authentication finished successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webAuthnAuthenticateFinishRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/webauthn/mediation/start:
    post:
      description: Starts mediation for Passkeys (Biometrics)
      operationId: WebAuthnMediationStart
      tags:
        - Passkeys (Biometrics)
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webAuthnMediationStartReq'
      responses:
        '200':
          description: Passkeys (Biometrics) mediation started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webAuthnMediationStartRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/webauthn/associate/start:
    post:
      description: Starts association token flow for Passkeys (Biometrics)
      operationId: WebAuthnAssociateStart
      tags:
        - Passkeys (Biometrics)
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webAuthnAssociateStartReq'
      responses:
        '200':
          description: Passkeys (Biometrics) association started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webAuthnAssociateStartRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/webauthn/settings:
    get:
      description: Lists all settings for Passkeys (Biometrics)
      operationId: WebAuthnSettingList
      tags:
        - Passkeys (Biometrics)
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      parameters:
        - $ref: 'common.yml#/components/parameters/remoteAddress'
        - $ref: 'common.yml#/components/parameters/userAgent'
        - $ref: 'common.yml#/components/parameters/sort'
        - $ref: 'common.yml#/components/parameters/filter'
        - $ref: 'common.yml#/components/parameters/page'
        - $ref: 'common.yml#/components/parameters/pageSize'
      responses:
        '200':
          description: 'Contains a list of all Passkeys (Biometrics) settings'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webauthnSettingListRsp'
        default:
          $ref: '#/components/responses/error'

    post:
      description: Creates a new setting for Passkeys (Biometrics)
      operationId: WebAuthnSettingCreate
      tags:
        - Passkeys (Biometrics)
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webauthnSettingCreateReq'
      responses:
        '200':
          description: Passkeys (Biometrics) setting successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webauthnSettingCreateRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/webauthn/settings/{settingID}:
    get:
      description: Gets a setting by id for Passkeys (Biometrics)
      operationId: WebAuthnSettingGet
      tags:
        - Passkeys (Biometrics)
      parameters:
        - in: path
          required: true
          name: settingID
          schema:
            type: string
          description: 'ID from create'
          example: 'pwa-abc123'
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      responses:
        '200':
          description: 'Contains a Passkeys (Biometrics) setting'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webauthnSettingGetRsp'
        default:
          $ref: '#/components/responses/error'
    put:
      description: Updates a setting by id for Passkeys (Biometrics)
      operationId: WebAuthnSettingPut
      tags:
        - Passkeys (Biometrics)
      parameters:
        - in: path
          required: true
          name: settingID
          schema:
            type: string
          description: 'ID from create'
          example: 'pwa-abc123'
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webauthnSettingUpdateReq'
      responses:
        '200':
          description: 'Contains a Passkeys (Biometrics) setting'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webauthnSettingUpdateRsp'
        default:
          $ref: '#/components/responses/error'

    delete:
      description: Deletes a setting by id for Passkeys (Biometrics)
      operationId: WebAuthnSettingDelete
      tags:
        - Passkeys (Biometrics)
      parameters:
        - in: path
          required: true
          name: settingID
          schema:
            type: string
          description: 'ID from create'
          example: 'pwa-abc123'
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webauthnSettingDeleteReq'
      responses:
        '200':
          $ref: '#/components/responses/200'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: Tracking                                                 #
  ###################################################################
  /v1/tracking:
    get:
      description: Provides project's passkeys raw tracking data per visitor
      operationId: TrackingAllRequest
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      tags:
        - Analyzer
      parameters:
        - $ref: 'common.yml#/components/parameters/remoteAddress'
        - $ref: 'common.yml#/components/parameters/userAgent'
        - $ref: 'common.yml#/components/parameters/sort'
        - $ref: 'common.yml#/components/parameters/filter'
        - $ref: 'common.yml#/components/parameters/page'
        - $ref: 'common.yml#/components/parameters/pageSize'
      responses:
        '200':
          description: 'Contains a list of raw tracking data per vistor'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trackingRawListRsp'

  /v1/tracking/stats:
    get:
      description: Provides aggregated statstics for project's passkeys tracking data
      operationId: TrackingStatsList
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      tags:
        - Analyzer
      parameters:
        - $ref: 'common.yml#/components/parameters/remoteAddress'
        - $ref: 'common.yml#/components/parameters/userAgent'
        - $ref: 'common.yml#/components/parameters/sort'
        - $ref: 'common.yml#/components/parameters/filter'
        - $ref: 'common.yml#/components/parameters/page'
        - $ref: 'common.yml#/components/parameters/pageSize'
        - $ref: '#/components/parameters/granularity'
      responses:
        '200':
          description: 'Contains a list of all aggregated statistics for tracking data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trackingStatsListRsp'

  /v1/tracking/stats/detailed:
    get:
      description: Provides detailed tracking data
      operationId: TrackingDetailedStatsList
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      tags:
        - Analyzer
      parameters:
        - $ref: 'common.yml#/components/parameters/remoteAddress'
        - $ref: 'common.yml#/components/parameters/userAgent'
        - $ref: 'common.yml#/components/parameters/sort'
        - $ref: 'common.yml#/components/parameters/filter'
        - $ref: 'common.yml#/components/parameters/page'
        - $ref: 'common.yml#/components/parameters/pageSize'
        - $ref: '#/components/parameters/granularity'
      responses:
        '200':
          description: 'Contains a list of all tracking data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trackingDetailedStatsListRsp'

  /v1/tracking/browser/stats:
    get:
      description: Provides browser tracking data
      operationId: TrackingBrowserStatsList
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      tags:
        - Analyzer
      parameters:
        - $ref: 'common.yml#/components/parameters/remoteAddress'
        - $ref: 'common.yml#/components/parameters/userAgent'
        - $ref: 'common.yml#/components/parameters/sort'
        - $ref: 'common.yml#/components/parameters/filter'
        - $ref: 'common.yml#/components/parameters/page'
        - $ref: 'common.yml#/components/parameters/pageSize'
        - $ref: '#/components/parameters/granularity'
      responses:
        '200':
          description: 'Contains a list of aggregated browser tracking data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trackingBrowserStatsListRsp'

  /v1/tracking/browser/stats/detailed:
    get:
      description: Provides detailed browser tracking data
      operationId: TrackingBrowserDetailedStatsList
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      tags:
        - Analyzer
      parameters:
        - $ref: 'common.yml#/components/parameters/remoteAddress'
        - $ref: 'common.yml#/components/parameters/userAgent'
        - $ref: 'common.yml#/components/parameters/sort'
        - $ref: 'common.yml#/components/parameters/filter'
        - $ref: 'common.yml#/components/parameters/page'
        - $ref: 'common.yml#/components/parameters/pageSize'
        - $ref: '#/components/parameters/granularity'
      responses:
        '200':
          description: 'Contains a list of all browser tracking data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trackingBrowserDetailedStatsListRsp'

  /v1/tracking/os/stats:
    get:
      description: Provides os tracking data
      operationId: TrackingOSStatsList
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      tags:
        - Analyzer
      parameters:
        - $ref: 'common.yml#/components/parameters/remoteAddress'
        - $ref: 'common.yml#/components/parameters/userAgent'
        - $ref: 'common.yml#/components/parameters/sort'
        - $ref: 'common.yml#/components/parameters/filter'
        - $ref: 'common.yml#/components/parameters/page'
        - $ref: 'common.yml#/components/parameters/pageSize'
        - $ref: '#/components/parameters/granularity'
      responses:
        '200':
          description: 'Contains a list of aggregated OS tracking data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trackingOSStatsListRsp'

  /v1/tracking/os/stats/detailed:
    get:
      description: Provides detailed OS tracking data
      operationId: TrackingOSDetailedStatsList
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      tags:
        - Analyzer
      parameters:
        - $ref: 'common.yml#/components/parameters/remoteAddress'
        - $ref: 'common.yml#/components/parameters/userAgent'
        - $ref: 'common.yml#/components/parameters/sort'
        - $ref: 'common.yml#/components/parameters/filter'
        - $ref: 'common.yml#/components/parameters/page'
        - $ref: 'common.yml#/components/parameters/pageSize'
        - $ref: '#/components/parameters/granularity'
      responses:
        '200':
          description: 'Contains a list of all OS tracking data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trackingOSDetailedStatsListRsp'

  /v1/tracking/enums:
    get:
      description: Provides tracking enum values
      operationId: TrackingEnumsGet
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      tags:
        - Analyzer
      parameters:
        - $ref: 'common.yml#/components/parameters/remoteAddress'
        - $ref: 'common.yml#/components/parameters/userAgent'
      responses:
        '200':
          description: 'Contains tracking enum values'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trackingEnumsGetRsp'

  /v1/tracking/backupState:
    get:
      description: Provides tracking credential backup state data
      operationId: TrackingBackupStateGet
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      tags:
        - Analyzer
      parameters:
        - $ref: 'common.yml#/components/parameters/remoteAddress'
        - $ref: 'common.yml#/components/parameters/userAgent'
      responses:
        '200':
          description: 'Contains tracking credential backup state data'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trackingBackupStateGetRsp'

  ###################################################################
  # Paths: Project config                                           #
  ###################################################################
  /v1/projectConfig:
    post:
      description: Saves project config
      operationId: ProjectConfigSave
      tags:
        - Project config
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/projectConfigSaveReq'
      responses:
        '200':
          description: Project config successfully saved
          content:
            application/json:
              schema:
                $ref: 'common.yml#/components/schemas/genericRsp'
        default:
          $ref: '#/components/responses/error'
    get:
      description: Retrieves project config by projectID inferred from authentication
      operationId: ProjectConfigGet
      tags:
        - Project config
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      responses:
        '200':
          description: Project config successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectConfigGetRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/projectConfig/testWebhook:
    put:
      description: Tests webhook backend
      operationId: ProjectConfigWebhookTest
      tags:
        - Project config
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/projectConfigWebhookTestReq'
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectConfigWebhookTestRsp'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: Email templates                                          #
  ###################################################################
  /v1/emailTemplates:
    post:
      description: Creates a new email template
      operationId: EmailTemplateCreate
      tags:
        - Email templates
      security:
        - projectID: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/emailTemplateCreateReq'
      responses:
        '200':
          description: Email template successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emailTemplateCreateRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/emailTemplates/{emailTemplateID}:
    delete:
      description: Deletes an email template
      operationId: EmailTemplateDelete
      tags:
        - Email templates
      security:
        - projectID: [ ]
      parameters:
        - $ref: '#/components/parameters/emailTemplateID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/emailTemplateDeleteReq'
      responses:
        '200':
          $ref: '#/components/responses/200'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: Examples                                                 #
  ###################################################################
  /v1/examples/{fileName}:
    get:
      description: Retrieves file containing the named example project
      operationId: ExampleGet
      parameters:
        - name: fileName
          in: path
          description: Name of the example to get
          required: true
          schema:
            type: string
            enum:
              [
                'webcomponent-php-symfony.zip',
                'webcomponent-php-symfony.tar.gz',
              ]
      tags:
        - Examples
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      responses:
        '200':
          description: Example project successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exampleGetRsp'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: SMS templates                                          #
  ###################################################################
  /v1/smsTemplates:
    post:
      description: Creates a new SMS template
      operationId: SmsTemplateCreate
      tags:
        - SMS templates
      security:
        - projectID: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/smsTemplateCreateReq'
      responses:
        '200':
          description: SMS template successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smsTemplateCreateRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/smsTemplates/{smsTemplateID}:
    delete:
      description: Deletes an SMS template
      operationId: SmsTemplateDelete
      tags:
        - SMS templates
      security:
        - projectID: [ ]
      parameters:
        - $ref: '#/components/parameters/smsTemplateID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/smsTemplateDeleteReq'
      responses:
        '200':
          $ref: '#/components/responses/200'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: iOS App                                                  #
  ###################################################################
  /v1/iosappconfig:
    get:
      description: Lists iOS App Configs for a project
      operationId: iOSAppConfigGet
      tags:
        - iOS App Config
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      responses:
        '200':
          description: iOS App Config List successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSAppConfigListRsp'
        default:
          $ref: '#/components/responses/error'

    post:
      description: Creates a new iOS App Config
      operationId: iOSAppConfigCreate
      tags:
        - iOS App Config
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iOSAppConfigSaveReq'
      responses:
        '200':
          description: iOS App successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSAppConfigSaveRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/iosappconfig/{iosAppConfigID}:
    put:
      description: Updates an iOS app config by id
      operationId: IOSAppConfigPut
      tags:
        - iOS App Config
      parameters:
        - in: path
          required: true
          name: iosAppConfigID
          schema:
            type: string
          description: 'ID from iOS config create'
          example: 'ios-abc123'
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iOSAppConfigUpdateReq'
      responses:
        '200':
          description: 'Contains iOS app config'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/iOSAppConfigUpdateRsp'
        default:
          $ref: '#/components/responses/error'
    delete:
      description: Deletes an iOS App Config
      operationId: iOSAppConfigDelete
      tags:
        - iOS App Config
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      parameters:
        - in: path
          required: true
          name: iosAppConfigID
          schema:
            type: string
          description: 'iOS App Config ID from create'
          example: 'ios-abc123'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/iOSAppConfigDeleteReq'
      responses:
        '200':
          $ref: '#/components/responses/200'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: Android App                                              #
  ###################################################################
  /v1/androidappconfig:
    get:
      description: Lists Android App Configurations for a project
      operationId: AndroidAppConfigGet
      tags:
        - Android App Config
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      responses:
        '200':
          description: Android App Config List successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/androidAppConfigListRsp'
        default:
          $ref: '#/components/responses/error'

    post:
      description: Creates a new Android App Configuration
      operationId: AndroidAppConfigCreate
      tags:
        - Android App Config
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/androidAppConfigSaveReq'
      responses:
        '200':
          description: Android App Config successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/androidAppConfigSaveRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/androidappconfig/{androidAppConfigID}:
    put:
      description: Updates an Android app config by id
      operationId: AndroidAppConfigPut
      tags:
        - Android App Config
      parameters:
        - in: path
          required: true
          name: androidAppConfigID
          schema:
            type: string
          description: 'ID from Android config create'
          example: 'and-abc123'
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/androidAppConfigUpdateReq'
      responses:
        '200':
          description: 'Contains Android app config'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/androidAppConfigUpdateRsp'
        default:
          $ref: '#/components/responses/error'
    delete:
      description: Deletes an Android App Config
      operationId: AndroidAppConfigDelete
      tags:
        - Android App Config
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      parameters:
        - in: path
          required: true
          name: androidAppConfigID
          schema:
            type: string
          description: 'Android App Config ID from create'
          example: 'and-abc123'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/androidAppConfigDeleteReq'
      responses:
        '200':
          $ref: '#/components/responses/200'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: Sessions (version "v1")                                  #
  ###################################################################
  /v1/sessions:
    post:
      x-internal: true
      description: Creates a new session token for provided user data
      operationId: SessionTokenCreate
      tags:
        - Auth Tokens
      security:
        - projectID: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sessionTokenCreateReq'
      responses:
        '200':
          description: Session token successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sessionTokenCreateRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/sessions/verify:
    post:
      x-internal: true
      description: Verifies session token and returns attached user data
      operationId: SessionTokenVerify
      tags:
        - Auth Tokens
      security:
        - projectID: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sessionTokenVerifyReq'
      responses:
        '200':
          description: Session token successfully verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sessionTokenVerifyRsp'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: Auth token (Own session management)                      #
  ###################################################################
  /v1/authTokens/validate:
    post:
      description: Validates auth token and returns attached user data
      operationId: AuthTokenValidate
      tags:
        - Auth Tokens
      security:
        - projectID: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authTokenValidateReq'
      responses:
        '200':
          description: Auth token successfully validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authTokenValidateRsp'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: Session config (Corbado session management)              #
  ###################################################################
  /v1/sessionConfig:
    put:
      description: Updates session config
      operationId: SessionConfigUpdate
      tags:
        - Session config
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sessionConfigUpdateReq'
      responses:
        '200':
          description: Session config successfully saved
          content:
            application/json:
              schema:
                $ref: 'common.yml#/components/schemas/genericRsp'
        default:
          $ref: '#/components/responses/error'
    get:
      description: Retrieves session config by projectID inferred from authentication
      operationId: SessionConfigGet
      tags:
        - Session config
      security:
        - projectID: [ ]
        - basicAuth: [ ]
        - bearerAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/appType'
      responses:
        '200':
          description: Session config successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sessionConfigGetRsp'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: Long sessions (Corbado session management)               #
  ###################################################################
  /v1/longSessions:
    get:
      description: Lists long sessions by provided filters
      operationId: LongSessionList
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      tags:
        - Long sessions
      parameters:
        - $ref: 'common.yml#/components/parameters/remoteAddress'
        - $ref: 'common.yml#/components/parameters/userAgent'
        - $ref: 'common.yml#/components/parameters/sort'
        - $ref: 'common.yml#/components/parameters/filter'
        - $ref: 'common.yml#/components/parameters/page'
        - $ref: 'common.yml#/components/parameters/pageSize'
      responses:
        '200':
          description: 'Contains a list of long sessions'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/longSessionListRsp'

  /v1/longSessions/{sessionID}:
    get:
      description: Get a long session by sessionID
      operationId: LongSessionGet
      tags:
        - Long sessions
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      parameters:
        - $ref: 'common.yml#/components/parameters/sessionID'
      responses:
        '200':
          description: Contains details of a long session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/longSessionGetRsp'
        default:
          $ref: '#/components/responses/error'

  /v1/longSessions/{sessionID}/revoke:
    put:
      description: Revokes an active long session by sessionID
      operationId: LongSessionRevoke
      tags:
        - Long sessions
      security:
        - projectID: [ ]
        - basicAuth: [ ]
      parameters:
        - $ref: 'common.yml#/components/parameters/sessionID'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/longSessionRevokeReq'
      responses:
        '200':
          $ref: '#/components/responses/200'
        default:
          $ref: '#/components/responses/error'

  ###################################################################
  # Paths: Association Tokens                                       #
  ###################################################################
  /v1/associationTokens:
    post:
      description: Creates a new association token
      operationId: AssociationTokenCreate
      tags:
        - Association Tokens
      security:
        - projectID: [ ]
        - bearerAuth: [ ]
        - basicAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/associationTokenCreateReq'
      responses:
        '200':
          description: Association token successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/associationTokenCreateRsp'
        default:
          $ref: '#/components/responses/error'

components:
  ###################################################################
  # Security schemes                                                #
  ###################################################################
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic

    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

    projectID:
      in: header
      name: X-Corbado-ProjectID
      type: apiKey
  ###################################################################
  # Parameters                                                      #
  ###################################################################
  parameters:
    emailLinkID:
      name: emailLinkID
      in: path
      description: ID of email magic link
      required: true
      schema:
        type: string

    emailCodeID:
      name: emailCodeID
      in: path
      description: ID of email OTP
      required: true
      schema:
        type: string

    smsCodeID:
      name: smsCodeID
      in: path
      description: ID of SMS OTP
      required: true
      schema:
        type: string

    requestID:
      name: requestID
      in: path
      description: ID of request
      required: true
      schema:
        type: string

    remoteAddress:
      name: remoteAddress
      in: query
      description: Client's remote address
      required: false
      schema:
        type: string

    userAgent:
      name: userAgent
      in: query
      description: Client's user agent
      required: false
      schema:
        type: string

    userID:
      name: userID
      in: path
      description: ID of user
      required: true
      schema:
        type: string

    emailID:
      name: emailID
      in: path
      description: ID of email
      required: true
      schema:
        type: string

    phoneNumberID:
      name: phoneNumberID
      in: path
      description: ID of phone number
      required: true
      schema:
        type: string

    customLoginIdentifierID:
      name: customLoginIdentifierID
      in: path
      description: ID of custom login identifier
      required: true
      schema:
        type: string

    emailTemplateID:
      name: emailTemplateID
      in: path
      description: ID of email template
      required: true
      schema:
        type: string

    smsTemplateID:
      name: smsTemplateID
      in: path
      description: ID of SMS template
      required: true
      schema:
        type: string

    granularity:
      name: granularity
      in: query
      description: Data granularity
      required: true
      schema:
        type: string

    appType:
      name: appType
      in: query
      description: Application type
      required: false
      schema:
        $ref: 'common.yml#/components/schemas/appType'

  schemas:
    ###################################################################
    # Schemas: Frequent used                                          #
    ###################################################################
    webhookID:
      description: Unique ID of webhook request which will be randomly generated on server side
      type: string
      example: 'Zwho-557...663'

    ###################################################################
    # Schemas: Project secrets                                        #
    ###################################################################
    projectSecretCreateReq:
      type: object
      properties:
        requestID:
          $ref: 'common.yml#/components/schemas/requestID'
        clientInfo:
          $ref: 'common.yml#/components/schemas/clientInfo'

    projectSecretCreateRsp:
      allOf:
        - $ref: 'common.yml#/components/schemas/genericRsp'
        - $ref: '#/components/schemas/projectSecretItem'

    projectSecretListRsp:
      allOf:
        - $ref: 'common.yml#/components/schemas/genericRsp'
        - type: object
          # TODO this response isn't our "conventional" response. Need to refactor it. Backward incompatible change
          required:
            - paging
            - rows
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/projectSecretItem'
            paging:
              $ref: 'common.yml#/components/schemas/paging'

    projectSecretDeleteReq:
      type: object
      properties:
        requestID:
          $ref: 'common.yml#/components/schemas/requestID'
        clientInfo:
          $ref: 'common.yml#/components/schemas/clientInfo'

    projectSecretItem:
      type: object
      required:
        - id
        - hint
        - created
      properties:
        id:
          type: string
          description: 'ID of project secret'
          example: 'pse-abc123'
        secret:
          type: string
          description: 'Server-side generated secret. Only filled on create'
          example: 'asdasd!§"8787.!'
        hint:
          type: string
          description: 'Hint of the server-side generated secret. First 3 characters and last 3 characters'
          example: 'asd....7.!'
        created:
          $ref: 'common.yml#/components/schemas/created'

    ###################################################################
    # Schemas: Auth Methods                                           #
    ###################################################################
    authMethodsListReq:
      type: object
      required:
        - clientInfo
        - username
      properties:
        username:
          description: Client's username
          type: string
        requestID:
          $ref: 'common.yml#/components/schemas/requestID'
        clientInfo:
          $ref: 'common.yml#/components/schemas/clientInfo'

    authMethodsListRsp:
      allOf:
        - $ref: 'common.yml#/components/schemas/genericRsp'
        - type: object
          required:
            - data
          properties:
            data:
              type: object
              required:
                - selectMethods
                - possibleMethods
                - paging
              properties:
                selectMethods:
                  $ref: 'common.yml#/components/schemas/authMethods'
                possibleMethods:
                  $ref: 'common.yml#/components/schemas/authMethods'
                paging:
                  $ref: 'common.yml#/components/schemas/paging'

    userAuthLogListRsp:
      allOf:
        - $ref: 'common.yml#/components/schemas/genericRsp'
        - type: object
          required:
            - data
          properties:
            data:
              type: object
              required:
                - rows
                - paging
              properties:
                rows:
                  type: array
                  items:
                    $ref: '#/components/schemas/userAuthLog'
                paging:
                  $ref: 'common.yml#/components/schemas/paging'

    userAuthLog:
      type: object
      required:
        - userID
        - userName
        - method
        - eventType
        - status
        - created
      properties:
        userID:
          $ref: 'common.yml#/components/schemas/userID'
        userName:
          type: string
        method:
          type: string
        eventType:
          type: string
        status:
          type: string
        created:
          $ref: 'common.yml#/components/schemas/created'

    ###################################################################
    # Schemas: Examples                                      #
    ###################################################################
    exampleGetRsp:
      allOf:
        - $ref: 'common.yml#/components/schemas/genericRsp'
        - type: object
          required:
            - data
            - extension
          properties:
            data:
              type: string
              description: Base64 encoded data containing the compressed example file
            extension:
              type: string
              description: The extension of the compressed example file
              enum: [ 'zip', 'tar.gz' ]

    ###################################################################
    # Schemas: SMS codes                                              #
    ###################################################################
    smsCodeSendReq:
      type: object
      required:
        - phoneNumber
        - create
      properties:
        phoneNumber:
          description: Recipient phone number
          type: string
          example: '017612345678'
        create:
          description: Defines if user phone number should be created if not found
          type: boolean
        userFullName:
          description: Optional user's full name to be used if the user wasn't found and needs to be created first
          type: string
        templateName:
          description: Template name of SMS to send
          type: string
          example: 'true'
        requestID:
          $ref: 'common.yml#/components/schemas/requestID'
        clientInfo:
          $ref: 'common.yml#/components/schemas/clientInfo'

    smsCodeSendRsp:
      allOf:
        - $ref: 'common.yml#/components/schemas/genericRsp'
        - type: object
          required:
            - data
          properties:
            data:
              type: object
              required:
                - smsCodeID
              properties:
                smsCodeID:
                  type: string
                  example: 'sms-162...843'

    smsCodeValidateReq:
      type: object
      required:
        - smsCode
      properties:
        smsCode:
          type: string
          description: SMS OTP to validate
          example: '123456'
        createLoginToken:
          type: boolean
        requestID:
          $ref: 'common.yml#/components/schemas/requestID'
        clientInfo:
          $ref: 'common.yml#/components/schemas/clientInfo'

    smsCodeValidateRsp:
      allOf:
        - $ref: 'common.yml#/components/schemas/genericRsp'
        - type: object
          properties:
            loginToken:
              type: string

    ###################################################################
    # Schemas: Email links                                            #
    ###################################################################
    emailLinkSendReq:
      type: object
      required:
        - email
        - create
        - redirect
      properties:
        email:
          description: Recipient email address
          type: string
          example: 'example@mail.com'
        create:
          description: Defines if user email should be created if not found
          type: boolean
        tokenLifetime:
          description: Defines the lifetime of the token that needs to be validated
          type: string
          example: '5m'
        userFullName:
          description: Optional user's full name to be used if the user wasn't found and needs to be created first
          type: string
        templateName:
          description: Template name of email to send
          type: string
          example: 'email_login_user'
        purpose:
          type: string
          enum: [ 'authentication', 'confirmation', 'invitation' ]
          default: 'authentication'
          description: Purpose of the email link
        redirect:
          description: Redirect target after user clicks on email magic link
          type: string
          format: uri
        additionalPayload:
          $ref: 'common.yml#/components/schemas/additionalPayload'
        requestID:
          $ref: 'common.yml#/components/schemas/requestID'
        clientInfo:
          $ref: 'common.yml#/components/schemas/clientInfo'

    emailLinkSendRsp:
      allOf:
        - $ref: 'common.yml#/components/schemas/genericRsp'
        - type: object
          required:
            - data
          properties:
            data:
              type: object
              required:
                - emailLinkID
              properties:
                emailLinkID:
                  type: string
                  example: 'eml-146...452'

    emailLinksValidateReq:
      type: object
      required:
        - token
      properties:
        token:
          type: string
          description: Token to validate
          example: 'fFw...Akl'
        createLoginToken:
          type: boolean
        requestID:
          $ref: 'common.yml#/components/schemas/requestID'
        clientInfo:
          $ref: 'common.yml#/components/schemas/clientInfo'

    emailLinkGetRsp:
      allOf:
        - $ref: 'common.yml#/components/schemas/genericRsp'
        - type: object
          required:
            - data
          properties:
            data:
              type: object
              required:
                - emailLink
              properties:
                emailLink:
                  $ref: '#/components/schemas/emailLink'

    emailLinkValidateRsp:
      allOf:
        - $ref: 'common.yml#/components/schemas/genericRsp'
        - type: object
          required:
            - userID
            - userFullName
            - userEmail
          properties:
            additionalPayload:
              $ref: 'common.yml#/components/schemas/additionalPayload'
            userID:
              $ref: 'common.yml#/components/schemas/userID'
            userFullName:
              type: string
            userEmail:
              type: string
            loginToken:
              type: string

    emailLinksDeleteReq:
      type: object
      required:
        - requestID
      properties:
        requestID:
          $ref: 'common.yml#/components/schemas/requestID'
        clientInfo:
          $ref: 'common.yml#/components/schemas/clientInfo'

    emailLink:
      type: object
      required:
        - ID
        - userID
        - email
        - created
        - updated
        - status
        - additionalPayload
      properties:
        ID:
          $ref: 'common.yml#/components/schemas/emailLinkID'
        userID:
          $ref: 'common.yml#/components/schemas/userID'
        email:
          type: string
        userFullName:
          type: string
        purpose:
          type: string
        created:
          $ref: 'common.yml#/components/schemas/created'
        updated:
          $ref: 'common.yml#/components/schemas/updated'
        status:
          description: status values of an email link
          type: string
          enum: [ 'active', 'confirmed' ]
        additionalPayload:
          $ref: 'common.yml#/components/schemas/additionalPayload'

    ###################################################################
    # Schemas: Email codes                                            #
    ###################################################################
    emailCodeSendReq:
      type: object
      required:
        - email
        - create
      properties:
        email:
          description: Recipient email address
          type: string
          example: 'example@mail.com'
        create:
          description: Defines if user email should be created if not found
          type: boolean
        tokenLifetime:
          description: Defines the lifetime of the token that needs to be validated
          type: string
          example: '5m'
        userFullName:
          description: Optional user's full name to be used if the user wasn't found and needs to be created first
          type: string
        templateName:
          description: Template name of email to send
          type: string
          example: 'email_login_user'
        additionalPayload:
          $ref: 'common.yml#/components/schemas/additionalPayload'
        requestID:
          $ref: 'common.yml#/components/schemas/requestID'
        clientInfo:
          $ref: 'common.yml#/components/schemas/clientInfo'

    emailCodeSendRsp:
      allOf:
        - $ref: 'common.yml#/components/schemas/genericRsp'
        - type: object
          required:
            - data
          properties:
            data:
              type: object
              required:
                - emailCodeID
              properties:
                emailCodeID:
                  type: string
                  example: 'emc-146...452'

    emailCodeValidateReq:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          description: Email OTP to validate
          example: '123456'
        createLoginToken:
          type: boolean
        requestID:
          $ref: 'common.yml#/components/schemas/requestID'
        clientInfo:
          $ref: 'common.yml#/components/schemas/clientInfo'

    emailCodeValidateRsp:
      allOf:
        - $ref: 'common.yml#/components/schemas/genericRsp'
        - type: object
          required:
            - userID
            - userFullName
            - userEmail
          properties:
            additionalPayload:
              $ref: 'common.yml#/components/schemas/additionalPayload'
            userID:
              $ref: 'common.yml#/components/schemas/userID'
            userFullName:
              type: string
            userEmail:
              type: string
            loginToken:
              type: string

    emailCodeGetRsp:
      allOf:
        - $ref: 'common.yml#/components/schemas/genericRsp'
        - type: object
          required:
            - data
          properties:
            data:
              type: object
              required:
                - emailCode
              properties:
                emailCode:
                  $ref: '#/components/schemas/emailCode'

    emailCode:
      type: object
      required:
        - ID
        - userID
        - email
        - additionalPayload
        - created
        - updated
        - status
      properties:
        ID:
          $ref: 'common.yml#/components/schemas/emailCodeID'
        userID:
          $ref: 'common.yml#/components/schemas/userID'
        email:
          type: string
        userFullName:
          type: string
        additionalPayload:
          $ref: 'common.yml#/components/schemas/additionalPayload'
        created:
          $ref: 'common.yml#/components/schemas/created'
        updated:
          $ref: 'common.yml#/components/schemas/updated'
        status:
          description: status values of an email OTP
          type: string
          enum: [ 'active', 'confirmed' ]

    ###################################################################
    # Schemas: Phone number validation                                #
    ###################################################################
    validatePhoneNumberReq:
      type: object
      required:
        - phoneNumber
      properties:
        regionCode:
          type: string
          description: ISO country or region code
        phoneNumber:
          type: string
          description: Phone number to validate
        requestID:
          $ref: 'common.yml#/components/schemas/requestID'
        clientInfo:
          $ref: 'common.yml#/components/schemas/clientInfo'

    validatePhoneNumberRsp:
      allOf:
        - $ref: 'common.yml#/components/schemas/genericRsp'
        - type: object
          required:
            - data
          properties:
            data:
              $ref: '#/components/schemas/phoneNumberValidationResult'

    phoneNumberValidationResult:
      type: object
      required:
        - isValid
        - validationCode
      properties:
        isValid:
          type: boolean
        validationCode:
          type: string
          enum: [ 'valid', 'invalid_country_code', 'invalid_number', 'too_long' ]
        phoneNumber:
          $ref: '#/components/schemas/validationPhoneNumber'

    validationPhoneNumber:
      type: object
[...]
