name: passkeys_web
description: Web implementation of the Corbado passkeys plugin. Manages the creation of passkeys in browsers.
homepage: https://docs.corbado.com/overview/welcome
repository: https://github.com/corbado/flutter-passkeys/tree/main/packages/passkeys/passkeys_web
version: 2.0.0-dev.2

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.3.0"

flutter:
  plugin:
    implements: test_plugin
    platforms:
      web:
        pluginClass: PasskeysWeb
        fileName: passkeys_web.dart

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  js: ^0.6.4
  json_annotation: ^4.8.1
  passkeys_platform_interface: ^2.0.0-dev.1

dev_dependencies:
  build_runner: ^2.4.5
  flutter_test:
    sdk: flutter
  json_serializable: ^6.7.0
  very_good_analysis: ^5.0.0

